default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  host: localhost
  port: 5432
  username: postgres
  password: postgres

development:
  <<: *default
  database: forum_solution_development

test:
  <<: *default
  database: forum_solution_test

production:
  <<: *default
  database: forum_solution

